# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'


users = pd.read_csv(url, sep='|')

In [4]:
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

### Step 4. Discover what is the mean age per occupation

In [5]:
occupation_grp = users.groupby('occupation')

In [7]:
occupation_grp.age.mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [18]:
oc_gender_grp = users.groupby(['occupation','gender'])
occupation_grp.mean()
oc_gender_grp.mean()

ratio = ((oc_gender_grp['gender'].count()/occupation_grp['gender'].count()) * 100).round(2)

In [33]:
ratio.loc[:, ]

occupation     gender
administrator  F          45.57
               M          54.43
artist         F          46.43
               M          53.57
doctor         M         100.00
educator       F          27.37
               M          72.63
engineer       F           2.99
               M          97.01
entertainment  F          11.11
               M          88.89
executive      F           9.38
               M          90.62
healthcare     F          68.75
               M          31.25
homemaker      F          85.71
               M          14.29
lawyer         F          16.67
               M          83.33
librarian      F          56.86
               M          43.14
marketing      F          38.46
               M          61.54
none           F          44.44
               M          55.56
other          F          34.29
               M          65.71
programmer     F           9.09
               M          90.91
retired        F           7.14
               M          92.86
salesman       F          25.00
               M          75.00
scientist      F           9.68
               M          90.32
student        F          30.61
               M          69.39
technician     F           3.70
               M          96.30
writer         F          42.22
               M          57.78
Name: gender, dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

### Step 7. For each combination of occupation and gender, calculate the mean age

In [34]:
oc_gender_grp.mean()

                         user_id        age
occupation    gender
administrator F       443.944444  40.638889
              M       420.069767  37.162791
artist        F       432.153846  30.307692
              M       469.000000  32.333333
doctor        M       533.714286  43.571429
educator      F       454.730769  39.115385
              M       471.492754  43.101449
engineer      F       806.500000  29.500000
              M       445.553846  36.600000
entertainment F       780.000000  31.000000
              M       350.250000  29.000000
executive     F       373.000000  44.000000
              M       427.413793  38.172414
healthcare    F       568.454545  39.818182
              M       354.000000  45.400000
homemaker     F       367.166667  34.166667
              M       898.000000  23.000000
lawyer        F       285.000000  39.500000
              M       373.900000  36.200000
librarian     F       449.137931  40.000000
              M       535.954545  40.000000
marketing     F       443.300000  37.200000
              M       434.375000  37.875000
none          F       521.750000  36.500000
              M       246.200000  18.600000
other         F       474.666667  35.472222
              M       578.246377  34.028986
programmer    F       411.166667  32.166667
              M       437.966667  33.216667
retired       F       860.000000  70.000000
              M       489.230769  62.538462
salesman      F       637.666667  27.000000
              M       447.333333  38.555556
scientist     F       611.666667  28.333333
              M       449.428571  36.321429
student       F       497.533333  20.750000
              M       479.404412  22.669118
technician    F       938.000000  38.000000
              M       480.692308  32.961538
writer        F       536.052632  37.631579
              M       466.230769  35.346154

### Step 8.  For each occupation present the percentage of women and men

In [52]:
occupation_grp.gender.value_counts(normalize=True) * 100

occupation     gender
administrator  M          54.430380
               F          45.569620
artist         M          53.571429
               F          46.428571
doctor         M         100.000000
educator       M          72.631579
               F          27.368421
engineer       M          97.014925
               F           2.985075
entertainment  M          88.888889
               F          11.111111
executive      M          90.625000
               F           9.375000
healthcare     F          68.750000
               M          31.250000
homemaker      F          85.714286
               M          14.285714
lawyer         M          83.333333
               F          16.666667
librarian      F          56.862745
               M          43.137255
marketing      M          61.538462
               F          38.461538
none           M          55.555556
               F          44.444444
other          M          65.714286
               F          34.285714
programmer     M          90.909091
               F           9.090909
retired        M          92.857143
               F           7.142857
salesman       M          75.000000
               F          25.000000
scientist      M          90.322581
               F           9.677419
student        M          69.387755
               F          30.612245
technician     M          96.296296
               F           3.703704
writer         M          57.777778
               F          42.222222
Name: gender, dtype: float64