# Titanic Demo ðŸš¢

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [6]:
import seaborn as sns

In [8]:
url = 'https://raw.githubusercontent.com/bdemeshev/coursera_metrics/master/lab_07/titanic3.csv'

In [9]:
titanic = pd.read_csv(url).drop(["Unnamed: 0"],axis=1)
titanic.head(3)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1st,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.337494,B5,Southampton,2,NaN,"St Louis, MO"
1,1st,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.550003,C22 C26,Southampton,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1st,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.550003,C22 C26,Southampton,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [18]:

sns.heatmap(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   object
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(3), object(8)
memory usage: 143.3+ KB

ValueError: Must pass 2-d input. shape=()

In [11]:
titanic.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [21]:
#trop de nan
df = titanic.drop(['boat','cabin','body','home.dest','name','ticket',
       'fare'],axis=1)

In [22]:
df.dropna(inplace=True)
df.head()

  pclass  survived     sex      age  sibsp  parch     embarked
0    1st         1  female  29.0000      0      0  Southampton
1    1st         1    male   0.9167      1      2  Southampton
2    1st         0  female   2.0000      1      2  Southampton
3    1st         0    male  30.0000      1      2  Southampton
4    1st         0  female  25.0000      1      2  Southampton

In [23]:
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_selector,make_column_transformer
from sklearn.preprocessing import OrdinalEncoder,LabelEncoder,OneHotEncoder

In [ ]:
#faire un pipeline

#transfoModel =(Transformer,Model)tranfoModel.fit(Xtrain,Ytrain)

In [24]:
numerical_features= df.select_dtypes(exclude=object)
cat_feaytures=df.select_dtypes(include=object)

In [ ]:
X = df.drop(['survived'], axis=1)
y = df.survived

In [ ]:
from sklearn.model_selection import train_test_split
X_train

In [25]:

 
# pipeline of processing data steps
from sklearn.pipeline import make_pipeline
# Column format
from sklearn.compose import  make_column_selector, make_column_transformer
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder, OneHotEncoder, StandardScaler
 # Gros Pipeline
 
numerical_features = X.select_dtypes(exclude=object).columns
cat_features = X.select_dtypes(include=object).columns
 
ordinal_features = ["pclass"]
no_ordinal_feat = ["sex", "embarked"]

In [26]:
numerical_pipeline = make_pipeline(StandardScaler())
ordinal_pipeline = make_pipeline(OrdinalEncoder())
no_ordinal_pipeline = make_pipeline(OneHotEncoder())
 
 
preprocessor = make_column_transformer(
    (numerical_pipeline, numerical_features),
    (ordinal_pipeline, ordinal_features),
    (no_ordinal_pipeline, no_ordinal_feat)
)

In [27]:
from sklearn.linear_model import SGDClassifier
 
model = make_pipeline(preprocessor, SGDClassifier)

In [ ]:
model.fit()