In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
url ="http://raw.githubusercontent.com/bdemeshev/om_metrics/master/datasets/titanic3.csv"

In [5]:
titanic_df = pd.read_csv(url)
titanic_df.head()

,Unnamed: 0,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1st,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.337494,B5,Southampton,2,NaN,"St Louis, MO"
1,2,1st,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.550003,C22 C26,Southampton,11,NaN,"Montreal, PQ / Chesterville, ON"
2,3,1st,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.550003,C22 C26,Southampton,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,4,1st,0,"Allison, Mr. Hudson Joshua Crei",male,30.0000,1,2,113781,151.550003,C22 C26,Southampton,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,5,1st,0,"Allison, Mrs. Hudson J C (Bessi",female,25.0000,1,2,113781,151.550003,C22 C26,Southampton,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [ ]:
import seaborn as sns

In [6]:
df= titanic_df[["pclass","survived","age","sex"]]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1309 non-null   object
 1   survived  1309 non-null   int64
 2   age       1046 non-null   float64
 3   sex       1309 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 41.0+ KB

In [8]:
df.dropna(inplace=True)

C:\Users\f.renaux\AppData\Local\Temp\ipykernel_25792\1379821321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [9]:
x=df[['pcclass','age','sex']]
y=df.survived

KeyError: "['pcclass'] not in index"

In [ ]:
x.loc[:,'sex']=x.loc[:,'sex'].apply(lambda x:x=="male")

In [ ]:
float(x.pclass.iloc[0][0])

In [ ]:
x.loc[:,"pclass"].apply(lambda x:float(x[0]))