# Ex2 - Getting and Knowing your Data

Check out [Chipotle Exercises Video Tutorial](https://www.youtube.com/watch?v=lpuYZ5EUyS8&list=PLgJhDSE2ZLxaY_DigHeiIDC1cD09rXgJv&index=2) to watch a data scientist go through the exercises

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1
chipo.shape

(4622, 5)

In [6]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [7]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 7. Print the name of all the columns.

In [8]:
chipo.shape[1]

5

### Step 8. How is the dataset indexed?

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item? 
Étape 9. Quel a été l’article le plus commandé ?

In [10]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

### Step 10. For the most-ordered item, how many items were ordered?
Étape 10. Pour l’article le plus commandé, combien d’articles ont été commandés ?

In [12]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

### Step 11. What was the most ordered item in the choice_description column?
Étape 11. Quel a été l'article le plus commandé dans la colonne Choice_description ?

In [14]:
c = chipo.groupby('Choice_description')

c.head(1)

KeyError: 'Choice_description'

### Step 12. How many items were orderd in total?
Combien d'articles ont été commandés au total ?

In [16]:
#Combien d'articles ont été commandés au total ?
total_articles_commandes = chipo['quantity'].sum()
print(total_articles_commandes)

4972

### Step 13. Turn the item price into a float
Step 13. Turn the item price into a float

In [18]:

chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

#### Step 13.a. Check the item price type
verifier le nouveau type

In [19]:

print(chipo['item_price'].dtype)

float64

#### Step 13.b. Create a lambda function and change the type of item price
Créez une fonction lambda et modifiez le type de prix de l'article

In [22]:
chipo['item_price'].apply(lambda x: float(x.replace('$', '')))

AttributeError: 'float' object has no attribute 'replace'

#### Step 13.c. Check the item price type

In [24]:

print(chipo['item_price'].dtype)

float64

### Step 14. How much was the revenue for the period in the dataset?

In [25]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']

total_revenue = chipo['revenue'].sum()

print(f"Le chiffre d'affaires total pour la période est de : ${total_revenue:.2f}")

Le chiffre d'affaires total pour la période est de : $39237.02

### Step 15. How many orders were made in the period?

In [26]:
total_orders = chipo['order_id'].nunique()

print(f"Le nombre total de commandes passées pendant la période est de : {total_orders}")

Le nombre total de commandes passées pendant la période est de : 1834

### Step 16. What is the average revenue amount per order?

In [29]:
# Solution 1
# chipo['revenue'] = chipo['quantity'] * chipo['item_price']
# order_grouped = chipo.groupby(by=['order_id']).sum()
# order_grouped.mean()['revenue']

chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
revennu_moyen_par_ordre = order_grouped['revenue'].mean
print(f"La moyenne du chiffre d'affaires par commande est de : ${revennu_moyen_par_ordre:.2f}")

La moyenne du chiffre d'affaires par commande est de : $21.39

In [32]:
# Solution 2

21.394231188658654

### Step 17. How many different items are sold?

In [30]:
unique_items = chipo['item_name'].nunique()

print(f"Il y a {unique_items} different items solde.")

There are 50 different items sold.