# Regiment

### Introduction:

Special thanks to: http://chrisalbon.com/ for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [9]:
import pandas as pd

### Step 2. Create the DataFrame with the following values:

In [10]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 3. Assign it to a variable called regiment.
#### Don't forget to name each column

In [11]:
regiment = pd.DataFrame(raw_data, columns=['regiment',
'company',
'name',
'preTestScore',
'postTestScore'])

In [12]:
regiment.set_index('regiment', inplace=True)

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [13]:
regiment_grp = regiment.groupby("regiment")

In [17]:
regiment_grp.mean().loc[['Nighthawks'], :]

            preTestScore  postTestScore
regiment
Nighthawks         15.25           59.5

### Step 5. Present general statistics by company

In [18]:
regiment_grp.describe()

           preTestScore                                                  \
                  count   mean        std  min   25%   50%    75%   max
regiment
Dragoons            4.0  15.50  14.153916  3.0  3.75  14.0  25.75  31.0
Nighthawks          4.0  15.25  14.453950  2.0  3.50  14.0  25.75  31.0
Scouts              4.0   2.50   0.577350  2.0  2.00   2.5   3.00   3.0

           postTestScore
                   count  mean        std   min   25%   50%   75%   max
regiment
Dragoons             4.0  61.5  28.757608  25.0  49.0  63.5  76.0  94.0
Nighthawks           4.0  59.5  28.242993  25.0  49.0  59.5  70.0  94.0
Scouts               4.0  66.0   4.618802  62.0  62.0  66.0  70.0  70.0

### Step 6. What is the mean of each company's preTestScore?

In [19]:
regiment_grp.mean()

            preTestScore  postTestScore
regiment
Dragoons           15.50           61.5
Nighthawks         15.25           59.5
Scouts              2.50           66.0

### Step 7. Present the mean preTestScores grouped by regiment and company

In [24]:
comp_reg_grp = regiment.groupby(['regiment', 'company'])

comp_reg_grp.mean().loc[:, "preTestScore"]

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

In [25]:
comp_reg_grp.mean().loc[:, "preTestScore"].unstack()

company      1st   2nd
regiment
Dragoons     3.5  27.5
Nighthawks  14.0  16.5
Scouts       2.5   2.5

### Step 9. Group the entire dataframe by regiment and company

In [29]:
comp_reg_grp.mean()

                    preTestScore  postTestScore
regiment   company
Dragoons   1st               3.5           47.5
           2nd              27.5           75.5
Nighthawks 1st              14.0           59.5
           2nd              16.5           59.5
Scouts     1st               2.5           66.0
           2nd               2.5           66.0

### Step 10. What is the number of observations in each regiment and company

In [30]:
comp_reg_grp.size()

regiment    company
Dragoons    1st        2
            2nd        2
Nighthawks  1st        2
            2nd        2
Scouts      1st        2
            2nd        2
dtype: int64

### Step 11. Iterate over a group and print the name and the whole data from the regiment

In [31]:
for name, group in regiment_grp:
    print (name, group)

Dragoons          company    name  preTestScore  postTestScore
regiment
Dragoons     1st   Cooze             3             70
Dragoons     1st   Jacon             4             25
Dragoons     2nd  Ryaner            24             94
Dragoons     2nd    Sone            31             57
Nighthawks            company      name  preTestScore  postTestScore
regiment
Nighthawks     1st    Miller             4             25
Nighthawks     1st  Jacobson            24             94
Nighthawks     2nd       Ali            31             57
Nighthawks     2nd    Milner             2             62
Scouts          company   name  preTestScore  postTestScore
regiment
Scouts       1st  Sloan             2             62
Scouts       1st  Piger             3             70
Scouts       2nd  Riani             2             62
Scouts       2nd    Ali             3             70