# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [22]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [23]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep='\t', index_col="order_id")

In [24]:
chipo

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,Izze,[Clementine],$3.39
1,1,Nantucket Nectar,[Apple],$3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00?

In [25]:
chipo.item_price = chipo.item_price.apply(lambda x: float(x[1:-1]))

filt_more_ten = (chipo.item_price > 10)
prod_over_ten = chipo[filt_more_ten]

prod_over_ten.loc[:, ["item_name"]].nunique()

item_name    31
dtype: int64

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [39]:
chipo.loc[:, ['item_name', 'item_price']]

# grp_name_chipo = chipo.groupby(by='item_name')

                                      item_name  item_price
order_id
1                  Chips and Fresh Tomato Salsa        2.39
1                                          Izze        3.39
1                              Nantucket Nectar        3.39
1         Chips and Tomatillo-Green Chili Salsa        2.39
2                                  Chicken Bowl       16.98
...                                         ...         ...
1833                              Steak Burrito       11.75
1833                              Steak Burrito       11.75
1834                         Chicken Salad Bowl       11.25
1834                         Chicken Salad Bowl        8.75
1834                         Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

In [38]:
# grp_name_chipo.count().loc[:, ["item_price"]]

                                       item_price
item_name
6 Pack Soft Drink                              54
Barbacoa Bowl                                  66
Barbacoa Burrito                               91
Barbacoa Crispy Tacos                          11
Barbacoa Salad Bowl                            10
Barbacoa Soft Tacos                            25
Bottled Water                                 162
Bowl                                            2
Burrito                                         6
Canned Soda                                   104
Canned Soft Drink                             301
Carnitas Bowl                                  68
Carnitas Burrito                               59
Carnitas Crispy Tacos                           7
Carnitas Salad                                  1
Carnitas Salad Bowl                             6
Carnitas Soft Tacos                            40
Chicken Bowl                                  726
Chicken Burrito                               553
Chicken Crispy Tacos                           47
Chicken Salad                                   9
Chicken Salad Bowl                            110
Chicken Soft Tacos                            115
Chips                                         211
Chips and Fresh Tomato Salsa                  110
Chips and Guacamole                           479
Chips and Mild Fresh Tomato Salsa               1
Chips and Roasted Chili Corn Salsa             22
Chips and Roasted Chili-Corn Salsa             18
Chips and Tomatillo Green Chili Salsa          43
Chips and Tomatillo Red Chili Salsa            48
Chips and Tomatillo-Green Chili Salsa          31
Chips and Tomatillo-Red Chili Salsa            20
Crispy Tacos                                    2
Izze                                           20
Nantucket Nectar                               27
Salad                                           2
Side of Chips                                 101
Steak Bowl                                    211
Steak Burrito                                 368
Steak Crispy Tacos                             35
Steak Salad                                     4
Steak Salad Bowl                               29
Steak Soft Tacos                               55
Veggie Bowl                                    85
Veggie Burrito                                 95
Veggie Crispy Tacos                             1
Veggie Salad                                    6
Veggie Salad Bowl                              18
Veggie Soft Tacos                               7

### Step 6. Sort by the name of the item

In [28]:
chipo.sort_values(by=["item_name"], ascending=True)

,quantity,item_name,choice_description,item_price
order_id,,,,
1360,2,6 Pack Soft Drink,[Diet Coke],12.98
148,1,6 Pack Soft Drink,[Diet Coke],6.49
749,1,6 Pack Soft Drink,[Coke],6.49
754,1,6 Pack Soft Drink,[Diet Coke],6.49
1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...
948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [44]:


chipo.sort_values(by="item_price", ascending=False).iloc[[0], :]

,quantity,item_name,choice_description,item_price
order_id,,,,
1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [47]:
filt_veg_sal = (chipo.item_name == "Veggie Salad Bowl")

chipo[filt_veg_sal].count()

quantity              18
item_name             18
choice_description    18
item_price            18
dtype: int64

### Step 9. How many times did someone order more than one Canned Soda?

In [50]:
filt_more_one_soda = ((chipo.item_name == 'Canned Soda') & (chipo.quantity > 1))

chipo[filt_more_one_soda].count()

quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64